# **PANDAS**

Based on [PANDAS-TUTORIAL](https://github.com/TirendazAcademy/PANDAS-TUTORIAL/tree/main)

Pandas is one of the most important libraries of Python.
</br>
Pandas has data structures for data analysis. The most used of these are Series and DataFrame data structures. Series is one dimensional, that is, it consists of a column. Data frame is two-dimensional, i.e. it consists of rows and columns.

## Installation

To install Pandas, you can use "pip install pandas"

In [1]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.2.1-cp39-cp39-macosx_11_0_arm64.whl.metadata (19 kB)
Requirement already satisfied: numpy<2,>=1.22.4 in /Users/jonathansrinivasan/Library/Python/3.9/lib/python/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/jonathansrinivasan/Library/Python/3.9/lib/python/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)
Downloading pandas-2.2.1-cp39-cp39-macosx_11_0_arm64.whl (11.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.3/11.3 MB 10.5 MB/s eta 0:00:0000:0100:01
Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 505.5/505.5 kB 10.1 MB/s eta 0:00:00a 0:00:01
Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 345.4/345.4 kB 9.8 MB/s eta 0:00:00
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.1 pytz-2024.1 tzdata-2024.1

In [2]:
import pandas as pd # Let's import pandas with pd

In [3]:
pd.__version__ # To print the installed vesion pandas

'2.2.1'

## Data Structures

### **Series**

In [4]:
# Initializing series data structure
obj = pd.Series([1,"John",3.5,"Hey"])
obj

0       1
1    John
2     3.5
3     Hey
dtype: object

In [6]:
obj[0]
obj.values

array([1, 'John', 3.5, 'Hey'], dtype=object)

In [7]:
print(obj[0])
print(obj.values)

1
[1 'John' 3.5 'Hey']

In [8]:
# Initializing series with alphabetical indexing
obj2 = pd.Series([1,"John",3.5,"Hey"],index=["a","b","c","d"])
obj2

a       1
b    John
c     3.5
d     Hey
dtype: object

In [9]:
print(obj2["b"])
print(obj2.index)

John
Index(['a', 'b', 'c', 'd'], dtype='object')

In [10]:
score = {"Jane":90, "Bill":80,"Elon":85,"Tom":75,"Tim":95}
names = pd.Series(score) # Convert to Series 
names

Jane    90
Bill    80
Elon    85
Tom     75
Tim     95
dtype: int64

In [11]:
names["Tim"]

95

In [12]:
names[names>=85]

Jane    90
Elon    85
Tim     95
dtype: int64

In [13]:
names["Tom"]=60
names

Jane    90
Bill    80
Elon    85
Tom     60
Tim     95
dtype: int64

In [14]:
names[names<=80]=83
names

Jane    90
Bill    83
Elon    85
Tom     83
Tim     95
dtype: int64

In [20]:
print("Tom" in names)
print('------------')
print("Can" in names)

True
------------
False

In [19]:
print(names**2)
print('------------')
print(names/10)

Jane    8100
Bill    6889
Elon    7225
Tom     6889
Tim     9025
dtype: int64
------------
Jane    9.0
Bill    8.3
Elon    8.5
Tom     8.3
Tim     9.5
dtype: float64

In [17]:
names.isnull()

Jane    False
Bill    False
Elon    False
Tom     False
Tim     False
dtype: bool

### **DataFrame**